.chapter>ol {
list-style-type: lower-alpha;
}
.chapter>ol>li>ol {
list-style-type: lower-roman;
}
.chapter>ol>li>ol>li>ol {
list-style-type: upper-alpha;
}
.chapter>ol>li>ol>li>ol>li>ol {
list-style-type: decimal;
}
.chapter>ol.num-list {
list-style-type: decimal;
}
.chapter>ol.num-list>li>ol {
list-style-type: lower-alpha;
}
.chapter>ol.num-list>li>ol>li>ol {
list-style-type: lower-roman;
}
.chapter>ol.num-list>li>ol>li>ol>li>ol {
list-style-type: decimal;
}
.chapter>ol>li>ul {
list-style-type: none;
}
.chapter>ol>li>ul>li>ol {
list-style-type: upper-alpha;
}

/* All chapter content ordered list convention: 
1st level: lower-alphabetical
2nd level: lower-roman numerals
3rd level: upper-alphabetical
4th level: decimal

Annex 1,2,4,5,6 and 7 content convention:
1st level: decimal
2nd level: lower-alphabetical
3rd level: lower-roman numerals
4th level: upper-alphabetical

Annex 3 content convention:
1st level: lower-alphabetical
2nd level: lower-roman numerals
3rd level: upper-alphabetical
4th level: decimal

Annex 8, and 9 content convention:
1st level: decimal
2nd level: lower-alphabetical
3rd level: lower-roman numerals
4th level: decimal

Annex 10 content convention:
1st: lower-alphabetical
2nd: lower-roman numerals
3rd: upper-alphabetical
4th: lower-roman numerals
*/

AN1
#annex-1 ol {
list-style-type: decimal;
}
#annex-1 ol>li>ol {
list-style-type: lower-alpha;
}
#annex-1 ol>li>ol>li>ol {
list-style-type: lower-roman;
}
#annex-1 ol>li>ol>li>ol>li>ol {
list-style-type: upper-alpha;
}
#annex-1 ol>li>ul>li>ol {
list-style-type: lower-alpha;
}
#annex-1 ol>li>ul>li>ol>li>ol {
list-style-type: lower-roman;
}


AN2
#annex-2 ol {
list-style-type: decimal;
}
#annex-2 ol>li>ol {
list-style-type: lower-alpha;
}
#annex-2 ol>li>ol>li>ol {
list-style-type: lower-roman;
}
#annex-2 ol>li>ol>li>ol>li>ol {
list-style-type: upper-alpha;
}
#annex-2 ol>li>ul>li>ol {
list-style-type: lower-alpha;
}
#annex-2 ol>li>ul>li>ol>li>ol {
list-style-type: lower-roman;
}

AN3
#annex-3 ol.num-start {
list-style-type: decimal;
}
#annex-3 ol.num-start>li>ol {
list-style-type: upper-roman;
}
#annex-3 ol.num-start>li>ol>li>ol {
list-style-type: lower-alpha;
}
#annex-3 ol.num-start>li>ol>li>ol>li>ol {
list-style-type: lower-roman;
}
#annex-3 ol {
list-style-type: lower-alpha;
}
#annex-3 ol>li>ol {
list-style-type: lower-roman;
}
#annex-3 ol>li>ol>li>ol {
list-style-type: upper-alpha;
}

AN4
#annex-4 ol {
list-style-type: decimal;
}
#annex-4 ol>li>ol {
list-style-type: lower-alpha;
}
#annex-4 ol>li>ol>li>ol {
list-style-type: lower-roman;
}
#annex-4 ol>li>ol>li>ol>li>ol {
list-style-type: upper-alpha;
}
#annex-4 ol>li>ul {
list-style-type: none;
}
#annex-4 ol>li>ul>li>ol {
list-style-type: upper-alpha;
}
#annex-4 ol>li>ul>li>ol>li>ol {
list-style-type: decimal;
}

AN5
#annex-5 ol {
list-style-type: decimal;
}
#annex-5 ol>li>ol {
list-style-type: lower-alpha;
}
#annex-5 ol>li>ol>li>ol {
list-style-type: lower-roman;
}
#annex-5 ol>li>ol>li>ol>li>ol {
list-style-type: upper-alpha;
}

AN6
#annex-6 ol {
list-style-type: decimal;
}
#annex-6 ol>li>ol {
list-style-type: lower-alpha;
}
#annex-6 ol>li>ol>li>ol {
list-style-type: lower-roman;
}
#annex-6 ol>li>ol>li>ol>li>ol {
list-style-type: upper-alpha;
}
#annex-6 ol>li>ul>li>ol {
list-style-type: lower-alpha;
}
#annex-6 ol>li>ul>li>ol>li>ol {
list-style-type: lower-roman;
}

AN7
#annex-7>ol {
list-style-type: lower-alpha;
}
#annex-7>ol>li>ol {
list-style-type: lower-roman;
}
#annex-7>ol>li>ol>li>ol {
list-style-type: upper-alpha;
}
#annex-7>ol>li>ol>li>ol>li>ol {
list-style-type: decimal;
}
#annex-7>ol>li>ul {
list-style-type: none;
}
#annex-7>ol>li>ul>li>ol {
list-style-type: upper-alpha;
}

AN8
#annex-8>ol {
list-style-type: decimal;
}
#annex-8>ol>li>ol {
list-style-type: lower-alpha;
}
#annex-8>ol>li>ol>li>ol {
list-style-type: lower-roman;
}
#annex-8>ol>li>ol>li>ol>li>ol {
list-style-type: decimal;
}

AN9
#annex-9>ol {
list-style-type: decimal;
}
#annex-9>ol>li>ol {
list-style-type: lower-alpha;
}
#annex-9>ol>li>ol>li>ol {
list-style-type: lower-roman;
}
#annex-9>ol>li>ol>li>ol>li>ol {
list-style-type: decimal;
}
#annex-9>ol>li>ul {
list-style-type: none;
}
#annex-9>ol>li>ul>li>ol {
list-style-type: upper-alpha;
}

AN10
#annex-10>ol {
list-style-type: lower-alpha;
}
#annex-10>ol>li>ol {
list-style-type: lower-roman;
}
#annex-10>ol>li>ol>li>ol {
list-style-type: upper-alpha;
}
#annex-10>ol>li>ol>li>ol>li>ol {
list-style-type: lower-roman;
}
#annex-10>ol>li>ul {
list-style-type: none;
}
#annex-10>ol>li>ul>li>ol {
list-style-type: upper-alpha;
}